.DS_Store
android/sudoku/bin/
android/Translate/bin/
appengine/Chat/war/chat/
appengine/Chat/war/WEB-INF/deploy/
appengine/Chat/war/WEB-INF/classes/
appengine/Chat/war/WEB-INF/appengine-generated/
appengine/Chat/.gwt/
appengine/testingrest/war/testingrest/
appengine/testingrest/war/WEB-INF/deploy/
appengine/testinrest/war/WEB-INF/classes/
appengine/testingrest/war/WEB-INF/appengine-generated/
appengine/testingrest/.gwt/
scala/.metadata/
scala/HelloScala/bin/
scala/firstliftsite/war/
scala/firstliftsite/target/
scala/stocksystem/war/
scala/stocksystem/target/
play/myScalaWebapp/tmp/
play/myScalaWebapp/modules/
play/stocksystem/tmp/
play/stocksystem/precompiled
play/stocksystem/test-result
play/stocksystem/lib/scala-library-2.8.1.jar
play/stocksystem/modules/
*~


