@()(implicit flash:play.mvc.Scope.Flash)
@main(title = "Authentication - Login") { 
<form action="@action(controllers.Login.login)" method="POST">
	<div class="box450">
    <fieldset>
      <legend>Please login</legend>
      @showflash()
      <label>Email:</label><input type="text" name="username" /><br />
      <label>Password:</label><input type="password" name="password" /><br />
      <input type="submit" value="Login" class="button175"><br />
      <div>
        Need an account? 
        <span style="text-decoration: underline">
          <a href="@action(controllers.Login.register)">Register</a>
        </span> 
      </div> 
    </fieldset> 
  </div>
</form>
}
